///////////////////////////////////
///   IMPORTS
///////////////////////////////////

@import "styles/scss/_reset";

///////////////////////////////////
///   VARIABLES
///////////////////////////////////



///////////////////////////////////
///   MIXINS
///////////////////////////////////

@mixin text_style {
    color: black;
    font-family: 'Open Sans';
    font-size: 16px;
}

@mixin header-message_style {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

///////////////////////////////////
///   TEXT STYLE
///////////////////////////////////

.content-block__header-message {
    @include header-message_style; // color:black, font-family:Open Sans, font-weight:700
    
    &_h1 {
        font-size: 50px;
    }

    &_h2 {
        font-size: 22px;
    }

    &_h3 {
        font-size: 24px;
    }
}

.text {
    @include text_style; // color:black, font-family:Open Sans, font-size:12
    font-weight: 400;
    line-height: 1.2;

    &_bold {
        @include text_style; // color:black, font-family:Open Sans, font-size:12
        font-weight: 700;
        line-height: 1.9;
    } 

    &_listed {
        display: flex;
    }

    &_upper {
        margin-top: 15px;
    }
}

///////////////////////////////////
///   ICONS STYLE
///////////////////////////////////

.contact-icon {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 28px;
    margin-right: 10px;
}

.interests-dot-icon {
    display: inline-block;
    margin: auto 5px;
    width: 5px;
}

.connect-icon {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

///////////////////////////////////
///   GRID-AREAS
///////////////////////////////////
body {
    .photo {
        grid-area: photo;
    }

    .header {
        grid-area: header;
    }

    .contact {
        grid-area: contact;
    }

    .personal {
        grid-area: personal;
    }

    .profile {
        grid-area: profile;
    }

    .work {
        grid-area: work;
    }

    .education {
        grid-area: education;
    }

    .skills {
        grid-area: skills;
    }

    .interests {
        grid-area: interests;
    }

    .connect {
        grid-area: connect;
    }
}

///////////////////////////////////
///   PAGE STRUCTURE
///////////////////////////////////

body {
    .content-block {
        &__page {
            padding: 35px 15px;
        }

        &:nth-child(1) { // ---------------------> RESUME HEADER STYLE
            .content-block__header-message {
                line-height: 43px;
            }

            .text {
                margin-top: 2px;
            }
        }

        &__photo {
            display: block;
            margin: 0 auto;
        }

        &__header {
            margin-bottom: 15px;
        }

        &__personal-content {
            display: grid;
            grid-template-columns: 110px 20px 120px;
            align-items: center;
        }

        &__list {
            height: 100px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            &-item {
                padding: 0 10px;
            }
        }
    }
}

@media only screen and (min-width: 40.063em) {      /* min-width 641px, medium screens */
    body {
        display: grid;       // -------------------> TABLET Grid (2 column style)   
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "photo      header" 
            "personal   contact" 
            "profile    profile" 
            "work       work" 
            "education  education" 
            "skills     skills" 
            "interests  connect";
       
        .content-block {
            &__personal-content {
                grid-template-rows: repeat(4, 39px);        
            }
        }
    }
    
}

@media only screen and (min-width: 64.063em) {      /* min-width 1025px, large screens */
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "photo      header      header" 
            "contact    profile     profile" 
            "personal   work        work" 
            "interests  education   education" 
            "connect    skills      skills";

        .content-block {
            &:nth-child(1) {
                text-align: end;
            }
        }
    }
}
